* {margin: 0; padding: 0 }
body {font: 12px/18px Arial, sans-serif; width: 100%; background: url(/resource/img/bg.jpg) top center no-repeat; background-size:cover; -moz-background-size:cover; -webkit-background-size:cover}
a {color: #fff; font-weight: bold; text-decoration:none}
input[type=text], input[type=password], input[type=email], input[type=url] {height: 15px; width: 200px; padding: 5px; margin-bottom: 5px}
input[type=submit], input[type=reset], .button {color: #fff; background: #28324E; padding: 8px; border: 1px solid #A83B2D; font-weight: normal; text-align:center} 
input[type=submit]:hover, input[type=reset]:hover, .button:hover  { background: #475577}
select {height:30px; margin-bottom: 5px;}

textarea {resize: none}

.wrapper {width: 1000px; margin: 0 auto}
.header {width: 1000px; height: 150px; background: url(/resource/img/logo.png)}
.content {width: 1000px; min-height: 550px; background: #fff}

.MenuHead {width: 1000px; height: 60px; background:#28324E}
.Menu {float:left; display: inline-block;  height: 20px; background: #28324E; padding: 20px; color: #fff; font-size: 20px}
.SwchItemCurt, .SwchItem:hover , .Menu:hover, .Cat:hover {opacity: 0.5; cursor: pointer}

.CatHead {width: 1000px; height: 40px; background:#28324E}
.Cat {float:left; display: inline-block;  height: 10px; background:#28324E; padding: 10px; color: #fff; font-size: 10px}
.CatHead form {float: right}
.CatHead input[type=text], .CatHead input[type=submit] {border: none; outline: none}
.CatHead input[type=text] {height: 30px; background: #28324E; color: #FFF}
.CatHead input[type=submit] {height: 40px}
.Page {padding: 20px}

.footer {height: 10px; background: #28324E; padding: 20px; color: #fff}
.MessageBlock {border: 1px solid #A83B2D; background: #28324E; padding: 10px; color: #fff}


.capinp {max-width: 80px}
.capimg {width: 110px; height: 30px; float: right; border: 1px solid #28324E}
.capdiv {width: 215px; height: 30px}

.Block {border: 1px solid #e5e5e5; background-color:#28324E; padding: 10px 10px; width: 815px; height: 135px; display: table; line-height: 25px}
.ProfileB {float: left; width: 102px; margin-top: -37px}
.ProfileEdit{margin-top: -25px}

.ChatBox {height: 300px; overflow: auto; border: 1px solid #ddddddd}
.ChatBlock {border: 1px solid #dddddd; background: #f2f2f2; padding: 10px; color: #000000; margin: 10px}
.ChatBlock span {color: #828282; font-size: 10px; display: block}
.ChatMessage {width: 300px; height: 40px; resize: none; padding: 5px}

.PageSelector{margin: 10px}
.SwchItem, .SwchItemCur {padding: 2px 15px; background: #28324E}
.SwchItemCur{background: #28324E}


.Add {width: 800px; height: 300px}
.lol {color: #000}
.Add_L {height: 200px; width: 800px}

.lm {width: 220px; height: 220px; margin: 0 15px 15px 0}

.Ablock1, .Ablock2 {width :450px; height: 300px; margin-bottom: 20px; border: 1px solid #A9A9A9}
.Ablock1 {float: left}
.Ablock2 {float: right}
.about{text-align: center;}